{% extends 'home/base.html' %}

{% block title %}HomePage{% endblock title %}

{% block content %}
  <main>
        <div class="intro-history">
            <p id="moto">We work together grow together</p>
            <p id="history">The great worrior Ngabo Izaaya was Omustyaba </p>
        </div>
        <div class="slider-container">
            <div class="slider">
                <img src="static/images/image1.jpg" alt="Family Image 1">
                <img src="static/images/image5.jpg" alt="Family Image 2">
                <img src="static/images/image4.png" alt="Family Image 3">
                <img src="static/images/image4.png" alt="Family Image 4">
                <!-- Duplicate images for seamless looping -->
                <img src="static/images/image1.jpg" alt="Family Image 1">
                <img src="static/images/image5.jpg" alt="Family Image 2">
                <img src="static/images/image4.png" alt="Family Image 3">
                <img src="static/images/image4.png" alt="Family Image 4">
            </div>
        </div>
    </main>
{% endblock content %}

         

